*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background-color: var(--bright);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: roboto;
  --hue: 200;
  --saturation: 100%;

  --black: hsl(var(--hue), var(--saturation), 3%);
  --white: hsl(var(--hue), var(--saturation), 98%);
  --dark: hsl(var(--hue), var(--saturation), 10%);
  --bright: hsl(var(--hue), 70%, 85%);

  --tr-slow: 0.7s ease-in-out;
  --tr-fast: 0.3s ease-in-out;
}

.App {
  background-color: var(--white);
}

.page-wrapper {
  height: 100svh;
}

.top-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: calc(100% - 20px);
  color: var(--black);
  max-width: 900px;
  margin: 0 auto;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav__menu li {
  list-style: none;
}
.nav__menu a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}
.nav__menu svg {
  fill: var(--dark);
}
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

.mobile-add-new {
  display: none;
}

.header {
  padding: 16px 0px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top-section {
  margin-top: 8px;
}

.logo {
  width: 100%;
}
.new-entry-button {
  background-color: var(--bright);
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
  border: 0px;
}

.new-entry-button::after {
  content: '+';
  border: 1px solid;
  color: inherit;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom-section {
  font-size: 1rem;
}
.user-name {
  margin: 0rem 1rem;
}
.logout-button {
  background-color: var(--bright);
  border: 1px solid var(--bright);
  color: var(--black);
  padding: 1rem;
  margin-top: 24px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: var(--tr-fast);
}

.logout-button:hover {
  background-color: var(--dark);
  color: var(--white);
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 8px 8px 8px 0px;
  margin-left: 8px;
}
.bookmark-data {
  background-color: var(--bright);
  color: var(--black);
  display: flex;
  margin: 8px;
  padding: 12px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.bookmark-data a {
  width: 100%;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  justify-content: space-between;
}
.bookmark-name {
  font-size: 1.5rem;
  height: calc(1.5rem + 5px);
  margin-bottom: 6px;
  overflow: hidden;
}

.bookmark-name-form {
  font-size: 1.5rem;
  height: calc(1.5rem + 5px);
  margin-bottom: 6px;
}

.bookmark-url {
  opacity: 0.5;
  overflow: hidden;
  height: 1.1rem;
  overflow: hidden;
}

.bookmark-name-form,
.bookmark-url-form {
  width: 100%;
  background-color: var(--white);
  border: 0px solid var(--dark);
  border-radius: 4px;
  padding-left: 4px;
}

.bookmark-buttons {
  display: flex;
  margin: 0px 8px;
  height: 100%;
  align-items: center;
  min-width: 68px;
}

.edit-button,
.delete-button {
  margin: 8px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-svg,
.trash-svg {
  width: 80%;
  height: 80%;
  fill: var(--black);
  transition: var(--tr-fast);
  cursor: pointer;
}

.edit-svg:hover,
.trash-svg:hover {
  width: 100%;
  height: 100%;
  fill: var(--dark);
  transition: var(--tr-fast);
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.save-button input,
.update-button {
  box-sizing: border-box;
  margin-bottom: 6px;
  width: 96px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--bright);
  border: 1px solid var(--black);
  cursor: pointer;
  transition: var(--tr-fast);
  padding: auto;
}

.save-button,
.save-button input {
  height: 100%;
}
.update-button {
  height: calc(1.5rem + 5px);
}

.save-button input:hover,
.update-button:hover,
.cancel-button:hover {
  background-color: var(--dark);
  color: var(--bright);
  transition: var(--tr-fast);
}

.cancel-button {
  box-sizing: border-box;
  width: 96px;
  height: 18px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--bright);
  border: 1px solid var(--black);
  cursor: pointer;
  transition: var(--tr-fast);
  padding: auto;
}

/* landing styling */
.landing {
  width: 100%;
  background-color: var(--bright);
}
.landing-container {
  width: 100%;
  max-width: 1200px;
  height: 100svh;
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
  align-items: center;
  background-color: var(--bright);
}

.logo-box,
.auth-box {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box > .logo {
  background-color: var(--bright);
}

.logo-box {
  width: 50%;
}

.logo-box .logo {
  fill: var(--dark);
}

.auth-box {
  width: fit-content;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 1px solid var(--dark);
  border-radius: 16px;
}

.login-form-container form input {
  background-color: var(--white);
  color: var(--black);
}

.login-form-container input {
  margin: 4px 0px;
  border-radius: 4px;
  border: 0px;
  padding: 4px;
  color: var(--dark);
}

.login-form-container input::placeholder {
  color: var(--bright);
  opacity: 1;
}

.login-form-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 16px;
  border: none;
}

.login-form-buttons button {
  width: 100%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--dark);
  border: 1px solid var(--dark);
  transition: var(--tr-fast);
  cursor: pointer;
}

.login-form-buttons button:hover {
  background-color: var(--bright);
  color: var(--dark);
  transition: var(--tr-fast);
}

.username {
  text-transform: capitalize;
}

.footer {
  width: 100%;
  height: 20px;
  background-color: var(--bright);
  color: var(--black);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-top: 1px solid var(--white);
}

@media screen and (max-width: 767px) {
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .header {
    padding: 0px;
  }
  .header,
  .nav__menu,
  .header-container {
    flex-direction: row;
    width: 100%;
    background-color: var(--dark);
    align-items: center;
  }

  .landing-container {
    flex-direction: column;
  }

  .landing-container > * {
    width: min(400px, 100svw);
    height: fit-content;
  }

  .landing-container > .logo-box > .logo svg {
    height: fit-content;
    background-color: inherit;
  }

  .logo-box > .logo {
    background-color: var(--bright);
  }

  .login-form-container {
    width: 100%;
  }

  .logout-button {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 20px;
    background-color: var(--bright);
    color: var(--black);
    width: 84px;
    padding: 4px;
    border-radius: 4px;
  }

  .logo {
    background-color: var(--dark);
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .nav__menu .logo svg {
    fill: var(--white);
    height: 28px;
    margin: 16px 24px;
  }

  .new-entry-button,
  .user-name {
    display: none;
  }

  .mobile-add-new {
    color: var(--white);
    background-color: var(--dark);
    border: 1px solid var(--black);
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    right: 24px;
    bottom: 24px;
    box-shadow: 3px 3px 10px black;
  }

  .header-top-section {
    margin: 0px;
  }

  .bookmarks-container {
    padding: 0px;
    margin-left: 0px;
  }

  .bookmarks-container .bookmark-data:first-child {
    margin-top: 8px;
  }
  .end-list-spacer {
    margin-bottom: 72px;
  }

  .bookmark-data {
    margin: 4px 8px;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .App,
  .landing-container {
    background-color: var(--black);
  }

  .nav__menu,
  .nav__menu,
  .logo {
    background-color: var(--dark);
  }

  .logo-box .logo {
    background-color: var(--black);
    fill: var(--bright);
  }

  .login-form-container form {
    border: 1px solid var(--bright);
  }

  .login-form-container form input {
    background-color: var(--dark);
    color: var(--white);
  }

  .login-form-buttons button {
    background-color: var(--bright);
    color: var(--black);
    border: 1px solid var(--bright);
    transition: var(--tr-fast);
    cursor: pointer;
  }

  .login-form-buttons button:hover {
    background-color: var(--dark);
    color: var(--white);
  }

  .login-form-container input::placeholder {
    color: var(--bright);
    opacity: 0.3;
  }

  .nav__menu .logo svg {
    fill: var(--white);
  }
  .nav__toggle svg {
    fill: var(--white);
  }

  .top-container {
    color: var(--white);
  }
  .new-entry-button {
    background-color: var(--black);
  }
  .logout-button {
    background-color: var(--black);
  }

  .mobile-add-new {
    color: var(--black);
    background-color: var(--bright);
    border: 1px solid var(--white);
  }

  .bookmark-data {
    background-color: var(--dark);
    color: var(--white);
  }

  .bookmark-name-form {
    background-color: var(--black);
    border: 1px solid var(--bright);
  }

  .bookmark-url-form {
    background-color: var(--black);
    border: 1px solid var(--bright);
  }

  .edit-svg,
  .trash-svg {
    fill: var(--white);
  }
  .edit-svg:hover,
  .trash-svg:hover {
    fill: var(--bright);
  }

  .logo-svg {
    fill: var(--white);
    transition: var(--tr-fast);
  }
  .logo-svg:hover {
    fill: var(--bright);
    transition: var(--tr-fast);
  }

  .save-button input {
    background-color: var(--dark);
    border: 1px solid var(--bright);
    color: var(--bright);
  }

  .save-button input:hover {
    background-color: var(--bright);
    color: var(--black);
  }

  .landing {
    background-color: var(--black);
  }
  .logout-button {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--white);
  }
  .logout-button:hover {
    background-color: var(--bright);
    color: var(--black);
  }
}

@media screen and (min-width: 768px) and (prefers-color-scheme: dark) {
  .nav__menu,
  .logo {
    background-color: var(--black);
  }
  .new-entry-button,
  .logout-button {
    background-color: var(--dark);
  }
}

@media screen and (max-width: 767px) and (prefers-color-scheme: dark) {
  .header,
  .nav__menu,
  .header-container {
    flex-direction: row;
    width: 100%;
    background-color: var(--bright);
    align-items: center;
  }

  .logout-button {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--white);
  }
  .logout-button:hover {
    background-color: var(--bright);
    color: var(--black);
  }

  .logo {
    background-color: var(--bright);
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .nav__menu .logo svg {
    fill: var(--black);
    height: 28px;
    margin: 16px 24px;
  }
  .logo-box > .logo {
    background-color: var(--black);
  }
}
